SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True

# PostgreSQL
DB_NAME=factory_attendance
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Face Recognition
FACE_THRESHOLD=0.42
FACE_DET_SIZE=640
CHECKIN_COOLDOWN=300
MAX_EMBEDDINGS_PER_PERSON=5

# Telegram Bot Alert
TELEGRAM_BOT_TOKEN=8571874201:AAGHOoE2coZCTVflAkoFLPCLzfrH6gMNuWM
TELEGRAM_CHAT_ID=1698801333

# Email Alert (optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ALERT_EMAILS=
